[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
ExecStart=/usr/bin/scl enable python27 -- /opt/spark/bin/pyspark
EnvironmentFile=/etc/jupyter.environment
User=vagrant
WorkingDirectory=~

[Install]
WantedBy=default.target

